/* Root variables and customizations */
:root {
    --bs-primary: #B0FF92;
    --bs-secondary: #A09BE7;
    --bs-text:#FFF2F1;
    --bs-dark: #191716;
    --bs-purple: #5F00BA;
    --bs-body-color: var(--bs-secondary);
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-radius: 0;
    --bs-link-color: var(--bs-secondary);
    --bs-link-hover-color: var(--bs-primary);
}

.bg-dark {
    background-color: var(--bs-dark) !important;
}

.text-primary {
    color: var(--bs-primary) !important;
}

.text-secondary {
    color: var(--bs-secondary);
}

.btn-primary {
    background-color: var(--bs-primary);
    color: var(--bs-dark);
    border: 1px solid var(--bs-primary);
    border-radius: 0;
    padding: 10px 20px;
    margin: 20px auto;
}

.btn-primary:hover {
    background-color: var(--bs-dark);
    color: var(--bs-primary);
}

.btn-secondary:hover {
    background-color: var(--bs-secondary);
    color: var(--bs-dark);
}

.btn-secondary {
    background-color: var(--bs-dark);
    color: var(--bs-primary);
    border: 1px solid var(--bs-secondary);
    border-radius: 0;
    padding: 20px 40px;
    margin: 20px auto;
}

/* Overall preset */
html {
    box-sizing: border-box;
}

 *,
 *:before,
 *:after {
    box-sizing: inherit;
 }

body {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    background-color: var(--bs-dark);
}

h1 {
    font-family: 'Sacramento', cursive;
    font-size: 3rem;
    font-weight: bold;
    color: var(--bs-text);
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    margin: .5em auto;
    text-align: center;
    color: var(--bs-primary);
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: .5rem;
    text-align: left;
    color: var(--bs-primary);
}

h4 {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--bs-text);
}

h5 {
    margin-bottom: 20px;
    color: var(--bs-primary);
    font-weight: bold;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

i {
    color: #B0FF92;
}

.container {
    width: 100%;
    margin: auto;
}

/* 
Eerie Black #191716
Light Green #B0FF92
Tropical Indigo #A09BE7
Chryster Blue #5F00BA
Lavender Blush #FFF2F1
*/

/* Skip links properties */
.skip-links{
    list-style: none;
    margin: 0;
    padding: 0;
}

.skip-links a{
    position: absolute;
    top: -3em;
    background-color: #FFF2F1;
    color: var(--bs-purple);
    padding: .5em 1em;
    font-weight: bold;
    text-decoration: none;
    z-index: 1;
}
  
.skip-links a:focus{
    top: 0;
}


/********** Header **********/

.navbar-brand img {
    width: 76px;
}

.navbar a {
    font-size: 24px;
    font-weight: bold;
}

.active {
    text-decoration: underline;
    color: var(--bs-primary);
}

.banner {
    position: relative;
    margin-top: 200px;
    margin-bottom: 100px;
}

/* Neon Effect */

.banner .neon {
    color: #FFF2F1;
    font-size: 5rem;
    text-align: center;
    text-shadow: 
    0 0 7px #FFF2F1,
    0 0 10px #A09BE7,
    0 0 42px #5F00BA,
    0 0 62px #5F00BA,
    0 0 82px #5F00BA;
}


/********** Main **********/

.showcase {
    margin: 100px auto;
}

.fa-angle-double-right, .fa-long-arrow-left  {
    margin-right: 10px;
}


.fa-angle-double-left, .fa-long-arrow-right {
    margin-left: 10px;
}

/********** Footer **********/

/* Footer properties */

footer {
    align-items: center;
}

footer img {
    width: 40px;
    margin: 0 20px 0 10px;
    border: 1px solid var(--bs-primary);
    border-radius: 20px;
}


/***** Set for the Project pages *****/

.sub-banner .neon {
    color: #FFF2F1;
    font-size: 3.5rem;
    text-align: center;
    text-shadow: 
    0 0 7px #FFF2F1,
    0 0 10px #5F00BA,
    0 0 30px #5F00BA,
    0 0 45px #A09BE7,
    0 0 50px #A09BE7;
}

.sub-banner {
    margin-top: 200px;
    margin-bottom: 100px;
}

.project {
    width: 80%;
}
.project p {
    color: var(--bs-text);
}

.project h2 {
    text-align: left;
}

.span3 {
    background-color: var(--bs-primary);
    display: inline-block;
    width: 100px;
    height: 3px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.work {
    margin-bottom: 200px;
}

.po-image {
    margin-top: 50px;
}

.ab-p a {
    font-size: 1.5rem;
    font-weight: bold;
}

.ab-image {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px auto;
}

.ab-image-1 {
    width: 60%;
}

.ab-image-2 {
    width: 38%;
    align-self: center;
}

.ab-image-2 img {
    margin: 10px auto;
}

.logo-image {
    display: flex;
    align-items: center;
}

.y-logo {
    width: 50%;
}

.icon-image {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
    margin-top: 50px;
}

.mp-image {
    width: 50%;
    margin-top: 50px;
}

.link-works a {
    color: #FFF2F1;
    font-family: 'Sacramento', cursive;
    font-size: 2rem;
    text-align: center;
    text-shadow: 
    0 0 7px #FFF2F1,
    0 0 10px #FFF2F1,
    0 0 30px #A09BE7,
    0 0 45px #A09BE7;
}

.link-works {
    margin-bottom: 50px;
}

/***** Set for the About page *****/

.card {
    border: none;
    background-color: var(--bs-dark);
    align-self: center;
}

.card-img-top {
    border: 1px solid var(--bs-purple);
    border-radius: 0;
    width: 90%;
    height: 50%;
    align-self: center;
}

.card img {
    object-fit: cover;
    object-position: 50% 30%;
}

.card-body h1 {
    text-shadow: 
    0 0 7px #FFF2F1,
    0 0 10px #5F00BA,
    0 0 20px #5F00BA,
    0 0 30px #5F00BA;
}

.card-text {
    text-align: center;
    margin-top: 50px;
}

.span1 {
    position: absolute;
    background-color: var(--bs-primary);
    display: inline-block;
    width: 200px;
    height: 3px;
    top: 45%;
    left: 57%;
    transform: rotate(-45deg);
}


/***** Set for the Contact page *****/

.row {
    /* border: 1px solid #B0FF92; */
    padding: 5%;
}

.span2 {
    background-color: var(--bs-secondary);
    display: inline-block;
    width: 150px;
    height: 3px;
    margin: 30px auto;
}

.btn {
    display: block;
}

.btn a {
    color: #B0FF92;
}

.btn:hover a{
    color: #191716;
}

.col-1 {
    display: flex;
    justify-items: center;
}

form {
    border: 1px solid var(--bs-primary);
    padding: 10px 30px;
}

label {
    text-align: left;
    margin-top: 10px;
}

.form-control {
    width: 100%;
    height: 2rem;
    margin-bottom: 10px;
    border-radius: 0;
}

textarea {
    height: 10rem !important;
    resize: none;
    overflow: auto;
}


/*******************************************************
 Adds media query for the screen size of 960px and below
 *******************************************************/

 @media screen and (max-width: 960px) {
    body {
        font-size: 16px;
    }

    h1 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    .banner img {
        height: 500px;
        object-position: 50% 10%;
    }

    .banner h1 {
        top: 60%;
        left: 5%;
    }

    .navbar a {
        font-size: 21px;
    }

    /* Works pages */
    .ab-image {
        display: flex;
        flex-direction: column;
    }

    .ab-image-1 {
        align-self: center;
        width: 100%;
        margin-bottom: 10px;
    }

    .ab-image-2 {
        width: 80%;
    }

    .ab-p a {
        text-align: center;
    }

    .icon-image {
        display: flex;
        flex-direction: column;
    }

    .icon-m, .icon-l {
        margin-top: 30px;
    }

    .mp-image {
        width: 100%;
    }

    /* About page */
    .row-about {
        display: flex;
        flex-direction: column;
    }

    .row-about .col-4, .row-about .col-8 {
        width: 100%;
    }

    .span1 {
        display: none;
    }

    .card-img-top {
        width: 60%;
        height: 350px;
    }

    .card img {
        object-fit: cover;
        object-position: 50% 30%;
    }

    /* Contact page */
    .row-contact {
        display: inline-block;
    }

    .span2 {
        margin: 20px;
    }

    .contact-form {
        margin-top: 50px;
        margin-bottom: 20px;
    }
 }